{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" />
	<link rel="stylesheet" href="{% static 'bootstrap-toggle/css/bootstrap-toggle.min.css' %}" />
	<link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
	<style>
		textarea { resize: none; }
		td.completed { color: #006600; }
		td.pending { color: #e68a00; }
		.hide { display: none; }
		.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
	</style>
</head>
<body>
	<h1 class="text-center">Mini TODO</h1>
	<br/>
	<h4 class="text-center">
		<a href="#" class="task_creator">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Task
		</a>
	</h4>
	<div class="container">
		<div class="row">
			<div class="col-xs-1">&nbsp;</div>
			<div class="col-xs-10">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th class="header col-xs-7">Subject</th>
								<th class="header col-xs-4">Status</th>
								<th class="header col-xs-1 text-center">...</th>
							</tr>
						</thead>
						<tbody id="tasks">
							{% for task in tasks %}
							<tr id="task-{{ task.id }}">
								<td id="subject-{{ task.id }}">
									<a href="#" class="task_detail" onclick="edit_task( {{ task.id }} );">{{ task.subject }}</a>
								</td>
								{% with completed=task.completed %}
								<td id="completed-{{ task.id }}" class="{{ completed|yesno:'completed,pending' }}">{{ completed|yesno:'Completed,Pending' }}</td>
								{% endwith %}
								<td class="text-center">
									<a href="#" onclick="delete_task( {{ task.id }} );">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-1">&nbsp;</div>
		</div>
	</div>
	
	<div id="task_create">
		<form>
			<div class="form-group">
				<label for="create-subject">Subject:</label>
				<input type="text" id="create-subject" class="form-control" name="subject" />
			</div>
			<div class="form-group">
				<label for="create-description">Description:</label>
				<textarea id="create-description" class="form-control" rows="5" name="description" ></textarea>
			</div>
		</form>
	</div>
	
	<div id="task_edit">
		<form>
			<div class="form-group">
				<label for="edit-subject">Subject:</label>
				<input type="text" id="edit-subject" class="form-control" name="subject" />
			</div>
			<div class="form-group">
				<label for="edit-description">Description:</label>
				<textarea id="edit-description" class="form-control" rows="5" name="description" ></textarea>
			</div>
			<div class="form-group">
				<label for="edit-status">Status:</label><br/>
				<input id="edit-status" type="checkbox"
					data-toggle="toggle"
					data-on="Completed" data-off="Pending" 
					data-onstyle="success" data-offstyle="warning" />
			</div>
		</form>
	</div>

	<script src="{% static 'jquery/jquery.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>
	<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
	
	<script>
		function edit_task ( task_id ) {
			
			$.get( "http://localhost:8080/api/tasks/" + task_id + "/", function ( task ) {
				$( "#task_edit" ).data( "t", task ).dialog( "open" );
			}, "json" );
			
		}
		
		function delete_task ( task_id ) {
			
			$.ajax({
				type: "DELETE",
				url: "http://localhost:8080/api/tasks/" + task_id + "/",
				success: function ( result ) {
					$( "#task-" + task_id ).remove();
				},
			});
			
		}
		
		function clear_from ( form ) {
			
			form.find( 'input:text, input:password, select, textarea' ).val( '' );
			form.find( 'input:radio, input:checkbox' ).prop( 'checked', false );
			
		}
		
		$( document ).ready( function() {
			
			/*
			 * EDIT TASK
			 */
			
			$( "#task_edit" ).dialog({
				title: "TASK DETAIL",
				autoOpen: false,
				modal: true,
				resizable: false,
				draggable: false,
				width: 400,
				show: {
					effect: 'slide',
					duration: 400,
				},
				hide: {
					effect: 'slide',
					duration: 300,
				},
				open: function( event, ui ) {
					var task = $( this ).data( "t" );
					
					$( "#edit-subject" ).val( task.subject );
					$( "#edit-description" ).val( task.description );
					$( "#edit-status" ).bootstrapToggle( task.completed ? 'on' : 'off' );
					
				},
				buttons: {
					"Update": function() {
						event.preventDefault();
						
						$( this ).dialog( "close" );
						
						var task = $( this ).data( "t" );
						
						var is_completed = "&completed=" + $( "#edit-status" ).prop( "checked" );
						var serialized_form_data = $( this ).children( "form" ).serialize() + is_completed;
						
						$.ajax({
							type: "PUT",
							url: "http://localhost:8080/api/tasks/" + task.id + "/",
							data:  serialized_form_data,
							success: function ( result ) {
								var status = result.completed ? "Completed" : "Pending ";
								$( "#subject-" + result.id ).children( "a" ).text( result.subject );
								$( "#completed-" + result.id )
									.text( status )
									.removeClass( "completed pending" )
									.addClass( status.toLowerCase() );
							},
						});
						
					},
					"Cancel": function() {
						$( this ).dialog( "close" );
					}
				}
			});
			
			/*
			 * CREATE TASK
			 */
			
			$( ".task_creator" ).on( "click", function() {
				$( "#task_create" ).dialog( "open" );
			});
			
			$( "#task_create" ).dialog({
				title: "CREATE NEW TASK",
				autoOpen: false,
				modal: true,
				resizable: false,
				draggable: false,
				width: 400,
				show: {
					effect: 'blind',
					duration: 400,
				},
				hide: {
					effect: 'blind',
					duration: 300,
				},
				buttons: {
					"Create": function() {
						event.preventDefault();
						
						$( this ).dialog( "close" );
						
						var serialized_form_data = $( this ).children( "form" ).serialize();
						
						clear_from( $( this ).children( "form" ) );
						
						$.post( "http://localhost:8080/api/tasks/", serialized_form_data, function ( result, status ) {
							
							var append_data = '<tr id="task-' + result.id + '">'
								+ '<td id="subject-' + result.id + '">'
								+ '<a href="#" id="' + result.id + '" onclick="edit_task( ' + result.id + ' );" class="task_detail">' + result.subject + '</a>'
								+ '</td>'
								+ '<td id="completed-' + result.id + '" class="pending">Pending</td>'
								+ '<td class="text-center">'
								+ '<a href="#" onclick="delete_task( ' + result.id + ' );">'
								+ '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'
								+ '</a>'
								+ '</td>'
								+ '</tr>'
								;
							
							$( "#tasks" ).append( append_data );
							
						});
						
					},
					"Cancel": function() {
						$( this ).dialog( "close" );
					}
				}
			});
			
		});
		
	</script>
	
</body>
</html>